<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rko</title>
	<!-- load css -->
	<link rel="stylesheet" href="/lib/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/css/bootstrap/bootstrap-grid.min.css">
	<link rel="stylesheet" href="/lib/css/bootstrap/bootstrap-reboot.min.css">
	
	<!-- load js -->
	<script src="/lib/js/jquery/jquery.min.js"></script>
	<script src="/lib/js/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="/lib/js/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

	
